{% extends 'base.html' %}
{% load nav_bar_tags %}
{% block title %}PAGES Online Book Store!{% endblock title %}
{% block header %}Welcome To The "Pages" Online Book Store!{% endblock header %} 

{% block body %}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active w-50" data-bs-interval="10000">
        <img src="static/img/book1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item w-50" data-bs-interval="2000">
        <img src="static/img/book2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item w-50">
        <img src="static/img/book3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock body %}

{% comment %} It is {% now "jS F Y H:i" %} {% endcomment %}

    {% comment %} {% for book in book_list%}
    draw {{ book.name }}
    {% endfor %}
    
    {% for author in author%}
    draw {{ author.name }}
    {% endfor %} {% endcomment %}
