<header>
    <nav class="navbar navbar-expand-md navbar-dark " style="background-color: #476368;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"> Logo </a>
          {% comment %} <a class="navbar-brand" href="#"> <img  width="45" height="45" src="static/img/logo.png" alt=""></a> {% endcomment %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'book:item-list' %}">Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Genres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Series</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Authors
                </a>
              </li>
            </ul>

            <form class="d-flex mx-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="Lord of the Rings" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
              </form 
              
              <div class="text-end">
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      Log in
                  </button>
              </div>
                {% include 'auth_modal.html' %}
            </div>
        </div>
      </nav>
</header>