{% load nav_bar_tags %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark " style="background-color: #476368;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"> Logo </a>
          {% comment %} <a class="navbar-brand" href="#"> <img  width="45" height="45" src="static/img/logo.png" alt=""></a> {% endcomment %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'book:item-list' %}">Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Genres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Series</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Authors
                </a>
              </li>
            </ul>

            <form class="d-flex mx-auto" style="width: 500px;" role="search">
              <input class="form-control me-2" type="search" placeholder="{% get_random_book %}" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
              </form 

            <ul class="nav justify-content-end">
              <table class="border border-light text-light" bordercolor="light" class="text-light" >
                <tr><td align="center"> It is {% now "F j " %}<br> BYN/USD: {% view_rates %}</td></tr>
              </table>
            </ul>
            {% if user.is_authenticated %}

           <div class="btn-group">
            <button type="button" class="btn btn-outline-success">👤 {{ user }}</button>
            <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="true" data-bs-reference="parent">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'user_app:logout' %}">Log out</a></li>
            </ul>
          </div>

            {% else %}
              <div class="text-end"> 
                 
              {% include 'auth_button.html' %}
              </div>
              {% include 'user_app/auth_modal.html' %}
            {% endif %}
        </div>
      </nav>
</header>