
{% load crispy_forms_tags %}

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"> Log in </h5>
                    {% comment %} {% if next %}
                        {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}
                </h5> {% endcomment %}
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Body -->
                <div class="modal-body mb-1">   
                        <form action="{% url 'user_app:login' %}?next={{ request.GET.next }}" method="post">
                            {% csrf_token %}
                            <div class="md-form form-sm  mx-auto mt-1">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">👤</span>
                                    <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" autocomplete="username" required id="id_username">
                                </div>
                            </div>
            
                            <div class="md-form form-sm mt-0">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">🔐</span>
                                    <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" autocomplete="current-password" required id="id_password" >
                                </div>
                            </div>
                            {% if form.errors %}
                            {{ form.errors }}
                            {% endif %}  
            
                            {% comment %} <div class="checkbox mb-3">
                                <label>
                                <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>    {% endcomment %}
            
                            <div class="text-center mt-1">
                                <button class="btn btn-success"> Submit <i class="fas fa-sign-in ml-1"></i></button>
                            </div>
                        </form> 
                </div>
                <!--Footer-->
                <div class="modal-footer display-footer ">
                    <div class="options mx-auto mt-0">
                        <p>Don't have an account? Create one <a href="{% url 'user_app:signup' %}">Here</a>!</p>
                        <p>Forgot your<a href="#" class="blue-text"> password?</a></p>
                    </div>
                </div> 


            </div>
        </div>
    </div>
